html body{
    padding: 0px;
    margin: 0px;
    background-color:  #EFEFEF;
}

body>div{
    width: 600px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

body>div>div:not(.errorBox){
    width: 620px;
    height: 450px;
    margin: auto;
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    border-radius: 5%;
    box-shadow: 1px 1px 5px 2px gray;
    background-color: white;
}

body h1{
    font-size: 25pt;
    color: aqua;
    text-align: center;
}

body form{
    width: 620px;
    margin-left: auto;
    margin-right: auto;
}

body form div{
    margin-top: 25px;
}

body form label{
    display: inline-block;
    width: 65px;
    text-align: right;
    margin-left: 90px;
    margin-right: 15px;
}


body form input{
    width:290px;
    border: 1px solid #DDDDDD;
    height: 20px;
}

.buttons{
    text-align: center;
}

.button{
    width: 60px;
    height: 35px;
    font-size: 12pt;
    outline: none;
    border-width: 0px;
    border-radius: 8px;    
    color: white;
}

.button:active{
    opacity: 0.5;
}


.reset{
    background-color: red;
        margin-right: 20px;
}

.submit{
    background-color: lightgreen;
}

.error{
    color: red;
    font-size: 9pt;
    float: right;
    width: 150px;
}

.errorBox{
    width: 620px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 5px 2px gray;
    background-color: white;
    color: red;
    font-size: 10pt;
    position: absolute;
    top: 1px;
}

.errorBox p{
    margin-left: 50px;
}

.switch{
    position: absolute;
    top: 35px;
    right: 35px;
    font-size: 13pt;
    color: aqua;
}