doctype html
html
    head 
        title 详情
        meta(charset="UTF-8")
        link(rel="stylesheet", href="detilStyle.css", type="text/css")
    
    body
        div
            h1 用户详情

            div
                div
                    p.infoname 用户名:
                    
                    p.info!= username

                div
                    p.infoname 学号:
                    
                    p.info!= sid

                div
                    p.infoname 电话:
                
                    p.info!= phone
                
                div
                    p.infoname 邮箱:
                    
                    p.info!= email