#game{
    width: 950px;
    margin-right: auto; 
    margin-left: auto;
    position: relative;
}

#playArea, #head, #button{
    width: 565px;
    margin-left: auto;
    margin-right: auto;
}

#playArea{
    height: 549px;
    position: relative;
}

#head p{
    width: 560px;
    text-align: center;
    font-weight: bold;
    font-size: 30pt;
    margin-bottom: 10px;
    margin-top: 10px;
}

#origin {
    display: inline-block;
    margin-left: 100px;
    width: 146px;
    position: absolute;
    top: 10%;
    right: 2%;
}

#origin p{
    font-weight: bold;
    text-align: center;
    width: 146px;
    font-size: 15pt;
}

#origin img{
    width: 146px;
    height: 146px;
    border: 2px brown solid;
    box-shadow: 3px 4px 6px 0px #ABA7AE;
}

#playArea div{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    border: 2px grey solid;
    position: absolute;
    width: 138px;
    height: 130px;
    transition: 0.1s;
}

#p1{
    left: 0px;
    top: 0px;
}

#p2{
    left: 140px;
    top: 0px;
}

#p3{
    left: 280px;
    top: 0px;
}

#p4{
    left: 420px;
    top: 0px;
}

#p5{
    left: 0px;
    top: 132px;
}

#p6{
    left: 140px;
    top: 132px;
}

#p7{
    left: 280px;
    top: 132px;
}

#p8{
    left: 420px;
    top: 132px;
}

#p9{
    left: 0px;
    top: 264px;
}

#p10{
    left: 140px;
    top: 264px;
}

#p11{
    left: 280px;
    top: 264px;
}

#p12{
    left: 420px;
    top: 264px;
}

#p13{
    left: 0px;
    top: 396px;
}

#p14{
    left: 140px;
    top: 396px;
}

#p15{
    left: 280px;
    top: 396px;
}

#p16{
    left: 420px;
    top: 396px;
}

#playArea .c16{
    border: 0px;
}

#playArea div img {
    vertical-align: bottom;
    width: 138px;
    height: 130px;
}



#playArea div:hover, #playArea div img:hover{
    width: 142px;
    height: 133px;
}



#button{
    position: relative;
}

#button button{
    width: 220px;
    height: 60px;
    position: absolute;
    left: 31.25%;
    background: #4384F6;
    font-weight: bold;
    font-size: 20pt;
    color: white;
    box-shadow: 3px 4px 10px 0px #ABA7AE;
    border: 0px;
    transition: 0.2s;
}

#button button:hover{
    margin-top: -5px;
    box-shadow: 3px 4px 10px 4px #ABA7AE;
}

#button button:focus{
    outline-style: double;
}



